<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CS24 - Recipe Name </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cookbook.css">

    <script src="/js/cookbook.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CS24</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/views/">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  	<div class="recipe container">
  		<label> tags: </label>
  		<span id="tags">
  			<span class="label label-primary">Images</span>
  			<span class="label label-primary">Formatting</span>
            <span class="label label-primary">Arrays</span>
  		</span>

  		<hr>
  		<h1 id="recipe"> Image Open </h1> 
  		<hr>
  	
  	<section id="problem"> 
  		<h2> Problem </h2>
  		<p class="lead">Open an image file, read RGB values, calculate the average RGB value. Subtract the average from each pixel. Output and save the new image.</p>
  	</section>

  	<section id="solution">
  		<h2> Solution </h2>
  		<p class="lead">Multiple classes were used here. Scanner, BufferedImage, File, ImageIO, and IOException. Scanner was instantiated so that the user can type in the directory of the image file that they want to modify. BufferedImage allows an image to be created in code form, with the methods .getWidth(), .getHeight(), and setRGB(). ImageIO allows the file to be read and replaces the file. Because some methods ImageIO.read(), and ImageIO.write() threw IOExceptions immediately when called, the IOException class was called to instantiate and catch the exceptions. </p>
 <pre class="pre-scrollable">
// ImageOpen.java
import java.util.Scanner;
import java.awt.image.BufferedImage;
import java.io.File;
import javax.imageio.ImageIO;
import java.io.IOException;
public class ImageOpen{

	private static Scanner kb = new Scanner(System.in);

	public static void main(String[] args) {
		//gets the image you specifically want to modify
		System.out.print("Please type in the directory of the image you want to change: ");
		String file = kb.next();
		BufferedImage image = null;
		int width, height;
		int[] pixels;
		File f = new File(file);

		try{
  			image = ImageIO.read(f);
		}catch(IOException e){
  			e.printStackTrace();
		}
			
		width = image.getWidth();
		height = image.getHeight();
		pixels = new int[width * height];

		//creates an array of the image's pixels
		int counter = 0;
		for(int x = 0; x < width; x++){
			for(int y = 0; y < height; y++){
				pixels[counter] = image.getRGB(x, y);
				counter++;
			}
		}
		counter = 0;

		//sets the RGB values
		int[] rgb = new int[3];
		rgb[0] = (pixels[0] >> 16) & 0xff;
		rgb[1] = (pixels[0] >> 8) & 0xff;
		rgb[2] = pixels[0] & 0xff;

		//prints out the RGB values
		System.out.print("R: " + rgb[0] + " G: " + rgb[1] + " B: " + rgb[2]);

		//calculates the RGB average
		int average = 0;
		for(int i = 0; i < rgb.length; i++){
			average += rgb[i];
		}
		average /= rgb.length;

		//subtracts the RGB average from the image's pixels
		for(int x = 0; x < width; x++){
			for(int y = 0; y < height; y++){
				image.setRGB(x, y, pixels[counter] - average);
				counter++;
			}
		}

		//
		try{
  			ImageIO.write(image, "png", f);
		}catch(IOException e){
  			e.printStackTrace();
		}
	}
}
</pre>
	<p class="lead">If you run this, it asks for the directory of the image file that you want read and modified. It prints out the original RGB values and modifies and replaces the original image.</p>

	</section> 
<!--   	<section class="discussion">
  		<h2> Discussion </h2>
  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  	</section> -->

  	<section class="resources">
<!--  		<h2> Related </h2>-->
<!--
      <a href=""><span class="label label-success"> Related Recipe A</span></a>
  		<a href=""><span class="label label-success"> Related Recipe B</span></a>
-->
  	</section>
    <br>
  <!-- BEGIN SUBMISSION DETAILS -->
  <div id="submission-details" class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Submission Details</h3>
  	</div>
  	<div class="panel-body">
  		<label> Author(s) </label>
  		<p class="author"> Brandon Castillo and Kisha Tarog </p> 
  		<!-- <p class="author"> Second author </p>  -->
    	<label> Resources: </label>
  		<ul>
  			<li><a href="/code/image_open"> Code</a></li>
<!--  			 <li><a href=""> Author B: Code</a></li> -->
  			<!-- <li><a href=""> Final Code</a></li> -->
  		</ul>
  	</div>
  </div>
  <!-- END SUBMISSION DETAILS -->
  	
  </div>
  </body>
</html>