<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CS24 - Recipe Name </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cookbook.css">

    <script src="/js/cookbook.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CS24</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/views/">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  	<div class="recipe container">
  		<label> tags: </label>
  		<span id="tags">
  			<span class="label label-primary">String</span>
  			<span class="label label-primary">Formatting</span>
  		</span>

  		<hr>
  		<h1 id="recipe"> Controlling Case </h1> 
  		<hr>
  	
  	<section id="problem"> 
  		<h2> Problem </h2>
  		<p class="lead">You need to convert strings to upper case or lowercase, or to compare strings without regard for case.</p>
  	</section>

  	<section id="solution">
  		<h2> Solution </h2>
  		<p class="lead">The String class has a number of methods for dealing with documents in a particular case. toUpperCase( ) and toLowerCase( ) each return a new string that is a copy of the current string, but converted as the name implies. Each can be called either with no arguments or with a Locale argument specifying the conversion rules; this is necessary because of internationalization. Java provides significantly more internationalization and localization features than ordinary languages, a feature that is covered in Chapter 15. While the equals( ) method tells you if another string is exactly the same, equalsIgnoreCase( ) tells you if all characters are the same regardless of case. Here, you can’t specify an alternate locale; the system’s default locale is used:</p>
 <pre class="pre-scrollable">
// Case.java
String name = "Java Cookbook";
System.out.println("Normal:\t" + name);
System.out.println("Upper:\t" + name.toUpperCase( ));
System.out.println("Lower:\t" + name.toLowerCase( ));
String javaName = "java cookBook"; // As if it were Java identifiers :-)
if (!name.equals(javaName))
    System.err.println("equals( ) correctly reports false");
else
    System.err.println("equals( ) incorrectly reports true");
if (name.equalsIgnoreCase(javaName))
    System.err.println("equalsIgnoreCase( ) correctly reports true");
else
    System.err.println("equalsIgnoreCase( ) incorrectly reports false");
</pre>
	<p class="lead">If you run this, it prints the first name changed to uppercase and lowercase, then it reports that both methods work as expected.</p>

	</section> 
<!--   	<section class="discussion">
  		<h2> Discussion </h2>
  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  	</section> -->

  	<section class="resources">
  		<h2> Related </h2>
      <a href=""><span class="label label-success"> Related Recipe A</span></a>
  		<a href=""><span class="label label-success"> Related Recipe B</span></a>
  	</section>
    <br>
  <!-- BEGIN SUBMISSION DETAILS -->
  <div id="submission-details" class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Submission Details</h3>
  	</div>
  	<div class="panel-body">
  		<label> Author(s) </label>
  		<p class="author"> Ian F. Darwin </p> 
  		<!-- <p class="author"> Second author </p>  -->
    	<label> Resources: </label>
  		<ul>
  			<li><a href="/code/upper_and_lower_case"> Author A: Code</a></li>
        <!-- <li><a href=""> Author B: Code</a></li> -->
        <!-- <li><a href=""> Final Code</a></li> -->
  		</ul>
  	</div>
  </div>
  <!-- END SUBMISSION DETAILS -->
  	
  </div>
  </body>
</html>